html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background: #ededed;
}

#whole-container {
    max-width: 27rem;
    margin: 0 auto;
}

.avatar-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

p {
    margin: 0;
}

.bold {
    font-weight: 700;
} 

/*------------
    HEADER
------------*/

header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0.5rem 1rem;
    border-bottom: 1px solid #c6c6c6;
}

.logo-img {
    width: 34%;
}

header .avatar-img {
    margin-top: 0.5rem;
    box-shadow: 0 0 2px black;
}

/*-----------
    POSTS 
-----------*/

.post {
    background: white;
    margin-bottom: 1.5rem;
}

.author-info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.post-img {
    width: 100%;
    object-fit: contain;
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1rem;
    gap: 0.5rem;
}

.icon-container {
    display: flex;
    gap: 0.75rem;
}

.btn-icon {
    width: 2rem;
    height: 2rem;
}

.btn-icon:hover,
.btn-icon:focus {
    opacity: 50%;
}


/* Hide Scrollbar on mobile */
@media (max-width: 600px) {
    body::-webkit-scrollbar {
        display: none; /* chromium */
    }

    .example {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;    /* Firefox */
    }
}